.home {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-bar {
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  gap: 10px;
}

.search-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.day-plan {
  margin-bottom: 20px;
}

.loading {
  font-size: 1.5em;
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  color: #ff887d;
  border: solid 5px #ff887d;
  height: 100%; /* Ensure the div takes up the full viewport height if needed */
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Creates two equal-width columns */
  gap: 20px;
  /* Optional: adds space between the columns */
}

.map {
  height: 100%;
  position: sticky;
}

@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr; /* Single column layout for screens less than 960px */
  }
}