.home {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-bar {
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  gap: 10px;
}

.search-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.day-plan {
  margin-bottom: 20px;
}

.loading {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  color: #ff887d;
  border: solid 5px #ff887d;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Creates two equal-width columns */
  gap: 20px;
  /* Optional: adds space between the columns */
}

.map {
  height: auto;
}

img {
  width: 100%;
  /* Cover the container area */
}